PORT=5000
MONGO_URI=your_mongodb_connection_string

JWT_SECRET=your_jwt_secret_here
BREVO_API_KEY=your_brevo_api_key_here
EMAIL_FROM=verified-sender@your-domain.com
EMAIL_FROM_NAME=ImmuniCare
CLIENT_URL=http://localhost:5173
